@charset "utf-8";
/* CSS Document */
body{padding:0; margin:0;}
.mapcover{
	width:100%;
	float:left;	
	max-width:1000px;
	border-radius:5px;
	border:1px solid #7b7b7b;
	}
.mapcover_left{
	width:39.9%;
	float:left; 
	background-color:#efefef;
	border-right:1px solid #2a2929;	
	}
.mapcover_right{
	width:60%;
	float:left;	 
	}
.sales_head{
	background-color:#2a2929;	
	color:#ffffff;
	text-align:center; 
	border-top-left-radius:5px; 
	font-weight:600;
	padding:10px;
	}
.row_list{
	width:100%;
	float:left;		
	}
.search_here{
	width:98%;
	margin:1%;
	padding:10px;
	color :#363636;	
	border:1px solid #a2a6a6;
	}
.gray_butn {
	background-color:#5b5b5b;
	border:1px #5b5b5b solid;
	padding:6px 22px;
	margin: 5px 10px;
	color:#ffffff; 
	border-radius:3px;
	cursor:pointer;
	} 
.red_butn {
	background-color:#d74343;
	border:1px #d74343 solid;
	padding:6px 22px;
	margin:5px 10px;
	color:#ffffff;  
	border-radius:3px;
	cursor:pointer;
	}
.border_bottom{
	border-bottom:1px solid #c9c5c5;
	}
.name_list{
	padding:5px;
	}
.map_head{
	background-color:#c9c5c5;	
	color:#000;
	text-align:center; 
	border-top-right-radius:5px; 
	font-weight:600;
	padding:10px;
	}