@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300i,400,400i,600,600i,700,700i');
body { 
	background: #eff3f8;
	font-family: 'Open Sans', sans-serif !important;/*font-family: 'Open Sans Condensed', sans-serif;*/
}
*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clear {
	clear: both;
}
.wd_full {
	width: 100%;
	float: left;
}
.bold {
	font-weight: bold;
}
/* *********** Margin *********** */
.mrgn-sm {
	margin: 5px !important;
}
.mrgn-md {
	margin: 10px !important;
}
.mrgn-lg {
	margin: 15px !important;
}
.mrgn-xl {
	margin: 20px !important;
}
/* Margin left */
.mrgn-lft-sm {
	margin-left: 5px
}
.mrgn-lft-md {
	margin-left: 10px
}
.mrgn-lft-lg {
	margin-left: 15px
}
.mrgn-lft-xl {
	margin-left: 20px
}
/* Margin right*/
.mrgn-rgt-sm {
	margin-right: 5px
}
.mrgn-rgt-md {
	margin-right: 10px
}
.mrgn-rgt-lg {
	margin-right: 15px
}
.mrgn-rgt-xl {
	margin-right: 20px
}
/* Margin top*/
.mrgn-top-sm {
	margin-top: 5px
}
.mrgn-top-md {
	margin-top: 10px
}
.mrgn-top-lg {
	margin-top: 15px
}
.mrgn-top-xl {
	margin-top: 20px
}
/* Margin bottom*/
.mrgn-btm-sm {
	margin-bottom: 5px
}
.mrgn-btm-md {
	margin-bottom: 10px
}
.mrgn-btm-lg {
	margin-bottom: 15px
}
.mrgn-btm-xl {
	margin-bottom: 20px
}
/* *********** Padding ******** */
.pdng-0 {
	padding: 0 !important;
}
.pdng-sm {
	padding: 5px !important;
}
.pdng-md {
	padding: 10px !important;
}
.pdng-lg {
	padding: 15px !important;
}
.pdng-xl {
	padding: 20px !important;
}
/* Padding left */
.pdng-lft-0 {
	padding-left: 0
}
.pdng-lft-sm {
	padding-left: 5px
}
.pdng-lft-md {
	padding-left: 10px
}
.pdng-lft-lg {
	padding-left: 15px
}
.pdng-lft-xl {
	padding-left: 20px
}
/* Padding right*/
.pdng-rgt-0 {
	padding-right: 0
}
.pdng-rgt-sm {
	padding-right: 5px
}
.pdng-rgt-md {
	padding-right: 10px
}
.pdng-rgt-lg {
	padding-right: 15px
}
.pdng-rgt-xl {
	padding-right: 20px
}
/* Padding top*/
.pdng-top-0 {
	padding-top: 0
}
.pdng-top-sm {
	padding-top: 5px
}
.pdng-top-md {
	padding-top: 10px
}
.pdng-top-lg {
	padding-top: 15px
}
.pdng-top-xl {
	padding-top: 20px
}
/* Padding bottom*/
.pdng-btm-0 {
	padding-bottom: 0
}
.pdng-btm-sm {
	padding-bottom: 5px
}
.pdng-btm-md {
	padding-bottom: 10px
}
.pdng-btm-lg {
	padding-bottom: 15px
}
.pdng-btm-xl {
	padding-bottom: 20px
}
.pull_left {
	float: left;
}
.pull_right {
	float: right;
}
/* ----- BUTTON -----*/
.btn {
	padding: 5px 12px;
	border-radius: 0;
	background: #e1e5ec;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px !important;
}
.btn.btn-outline.grey-outline {
	border-color: #ACB5C3;
	color: #ACB5C3;
	background: 0 0;
	border-radius: 15px;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
}
.grey-salsa {
	border-color: #ACB5C3; 
	background: #acb5c3;
	border-radius: 15px;
	color: #ffffff;
} 
.blank_btn {
	padding: 5px 12px;
	border-radius: 0;
	background: #e1e5ec;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px !important;
	border: none;
	background-color: transparent !important;
}
.blank_btn.active.focus, .blank_btn.active:focus, .blank_btn.focus, .blank_btn:active.focus, .blank_btn:active:focus, .blank_btn:focus {
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
}
.red_bg {
	background: #d74343;
	/*border-radius:15px;*/
	color: #ffffff;
}
.red_bg:hover {
	color: #ffffff;
}
.color_green {
	color: #4ca70f;
}
.color_red {
	color: #d74343;
}
.color_blue {
	color: #32c5d2;
}
/* ----- LOGIN  -----*/
.card-container.card {
	width: 40%;
	padding: 40px 40px 0 40px;
}
.card {
	background-color: #ffffff;
	margin: 0 auto 25px;
	margin-top: 50px;
}
.profile-img-card {
	width: auto;
	height: auto;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 0;
}
.profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}
.reauth-email {
	display: block;
	color: #404040;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin #inputEmail, .form-signin #inputPassword {
	direction: ltr;
	height: 44px;
	font-size: 16px;
}
.form-signin input[type=email], .form-signin input[type=password], .form-signin input[type=text], .form-signin button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	border-color: rgb(104, 145, 162);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(104, 145, 162);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(104, 145, 162);
}
.btn.btn-signin {
	background-color: #18667c;
	/*background-color: rgb(104, 145, 162);
    / background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
	padding: 0px;
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	border: none;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-webkit-transition: all 0.218s;
	transition: all 0.218s;
}
.forgot-password {
	color: rgb(104, 145, 162);
}
.forgot-password:hover, .forgot-password:active, .forgot-password:focus {
	color: rgb(12, 97, 33);
}
.bottom_bg{
	/*background-image: url(../images/login-bg.png);
    height: 267px;*/
    background-repeat: no-repeat;
	background-size:auto
	}
.bottom_wtrmrk{
	width:100%;
	text-align: center;
    position: absolute;
    bottom: 89px;
	color: #ffffff;	
	}
.bottom_wtrmrk a{
	color:#ffffff;	
	}
/* ----- header top -----*/
.nav_top {
	width: 100%;
	float: left;
	/*background-color: #2f3239;*/
	background-color: #204562;
}
.content {
	height: 200px;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
.wlcm {
	float: right;
	color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.navbar-inverse {
	/*background-color: #fa404e !important;*/
	background-color: #37709b !important;
	border-color: transparent !important;
	box-shadow: 2px 2px 4px rgba(47, 50, 57, 0.27) !important;
}
.navbar-inverse .navbar-nav>li>a {
	color: #ffffff !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color: #37709b !important;
	background-color: #ffffff !important;
}
.dropdown-menu {
	border: 0px solid rgba(0,0,0,.15) !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #37709b !important;
	text-decoration: none;
	background-color: #e8f5ff;
}
.dropdown-menu>li>a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color: #37709b !important;
	font-size: 14px;
}
.marginBottom-0 {
	margin-bottom: 0;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #555;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
.pg_header {
	font-family: 'Open Sans', sans-serif;
	color: #697882;
	font-size: 17px;
	background: #ffffff;
	padding: 10px 0;
}
.breadcrumb {
	padding: 8px !important; 
	border-radius: 4px !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px !important;
	margin-bottom:10px !important; 
}
.breadcrumb li a {
	color: #116177;
	text-decoration: none;
}
.breadcrumb>.active {
	color: #939fae;
}
.input-group-addon {
	padding: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	/*color: #555;*/
	text-align: center;
	background-color: #eee;
	/*border: 1px solid #cccccc;*/
	border-radius: 0px;
	color: #737e8c;
	border: 1px solid #939fae;
}
.form-control {
	border-radius: 0;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
	color: #404040;
	background-color: #fff;
	border: 1px solid #939fae;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px !important;
}
.form-group {
	margin-bottom: 5px;
}
.card_bg {
	background-color: #ffffff;
	box-shadow: 0 4px 3px rgba(0, 0, 0, 0.12);
	padding: 10px;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px !important;
	margin-bottom: 15px;    
	width: 100%;
    margin: 0 auto;
}
.widget-bg-color-white {
	background: #fff;
	padding: 10px 20px;
	font-family: 'Open Sans clr-green', sans-serif !important;
	border: 1px solid #cad5e2;
}
.widget-thumb {
	float: left;
	width: 50px;
	height: 50px;
	display: inline-block;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 10px;
	margin-right: 15px;
}
.widget-thumb-heading {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 700;
	color: #8e9daa;
	margin: 0 0 10px;
}
.widget-thumb-body-stat {
	display: block;
	font-size: 35px;
	font-weight: 600;
	font-family: 'Open Sans Condensed', sans-serif !important;
}
.bg-green {
	background: #32c5d2!important;
}
.clr-green {
	color: #32c5d2!important;
}
.bg-purple {
	background: #8e44ad!important;
}
.clr-purple {
	color: #8e44ad!important;
}
.bg-yellow {
	background: #ebab00!important;
}
.clr-yellow {
	color: #ebab00!important;
}
.bg-blue {
	background: #3598dc!important;
}
.clr-blue {
	color: #3598dc!important;
}
.bg-darkred {
	background: #9f3e69!important;
}
.clr-darkred {
	color: #9f3e69!important;
}
.bg-gray {
	background: #67809f!important;
}
.clr-gray {
	color: #67809f!important;
}
.bg-red {
	background: #e7505a!important;
}
.clr-red {
	color: #e7505a!important;
}
.bg-lgtgreen {
	background: #5ccb6c!important;
}
.clr-lgtgreen {
	color: #5ccb6c!important;
}
.portlet.light {
	padding: 12px 20px 15px;
	background-color: #fff;
	margin-top: 0;
	margin-bottom: 25px;
	box-shadow: 0 4px 3px rgba(0, 0, 0, 0.12);
}
.portlet>.portlet-title {
	border-bottom: 1px solid #eee;
	padding: 0;
	margin-bottom: 10px;
	min-height: 41px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.portlet.light .portlet-body {
	padding-top: 8px;
}
.portlet.light>.portlet-title>.caption>.caption-subject {
	font-size: 18px;
	color: #204562;
	text-transform: uppercase;
	font-weight: 600
}
.portlet>.portlet-title>.actions {
	float: right;
}
.portlet>.portlet-title>.caption {
	float: left;
}
/* accordian*/
.accordian .panel-title > a:before {
	float: right !important;
	font-family: FontAwesome;
	content: "\f055";
	padding-right: 5px;
}
.accordian .panel-title > a.collapsed:before {
	float: right !important;
	content: "\f056";
}
.accordian .panel-title > a:hover, .accordian .panel-title > a:active, .accordian .panel-title > a:focus {
	text-decoration: none;
}
.accordian .panel-default>.panel-heading {
	background-color: transparent !important;
	border-color: transparent !important;
}
.accordian .panel-group .panel {
	border-radius: 0 !important;
}
.accordian .panel-default {
	border-color: transparent !important;
}
.accordian .panel-title {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #18667c;
	font-weight: 600;
	position: relative;
}
.accordian .panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: transparent !important;
}
.accordian .panel-title > a:before {
	float: right !important;
	font-family: FontAwesome;
	content: "\f0de";
	padding-right: 0px;
	font-size: 18px;
	color: #b9b9b9;
	position: absolute;
	right: -9px;
	top: -11px;
}
.accordian .panel-title > a.collapsed:before {
	float: right !important;
	content: "\f0dd";
	font-size: 18px;
	color: #b9b9b9;
	position: absolute;
	right: -9px;
	top: -17px;
}
.accordian .panel-body {
	padding: 4px 15px;
}
.total_call {
	font-size: 14px;
	text-transform: uppercase;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	color: #8b8a8a;
	padding-left: 20px;
}
.total_call_amt {
	font-size: 35px;
	font-weight: bold;
	padding-left: 20px;
}
/*check box*/
.input-daterange input:first-child {
	border-radius: 0px !important;
}
.input-daterange input:last-child {
	border-radius: 0px !important;
}
.style_chk .checkbox {
	padding-left: 20px;
	float: left;
	margin: 10px;
}
.style_chk .checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
	color: #232323;
}
.style_chk .checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.style_chk .checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555;
}
.style_chk .checkbox input[type="checkbox"] {
	opacity: 0;
}
.style_chk .checkbox input[type="checkbox"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.style_chk .checkbox input[type="checkbox"]:checked + label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
}
.style_chk .checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.65;
}
.style_chk .checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}
.style_chk .checkbox.checkbox-circle label::before {
	border-radius: 50%;
}
.style_chk .checkbox.checkbox-inline {
	margin-top: 0;
}
.style_chk .checkbox-primary input[type="checkbox"]:checked + label::before {
	background-color: #428bca;
	border-color: #428bca;
}
.style_chk .checkbox-primary input[type="checkbox"]:checked + label::after {
	color: #fff;
}
.style_chk .checkbox-danger input[type="checkbox"]:checked + label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}
.style_chk .checkbox-danger input[type="checkbox"]:checked + label::after {
	color: #fff;
}
.style_chk .checkbox-info input[type="checkbox"]:checked + label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}
.style_chk .checkbox-info input[type="checkbox"]:checked + label::after {
	color: #fff;
}
.style_chk .checkbox-warning input[type="checkbox"]:checked + label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}
.style_chk .checkbox-warning input[type="checkbox"]:checked + label::after {
	color: #fff;
}
.style_chk .checkbox-success input[type="checkbox"]:checked + label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}
.style_chk .checkbox-success input[type="checkbox"]:checked + label::after {
	color: #fff;
}
footer{
    background-color: #204562;
    color: #ffffff;
    padding: 10px 0;	
	}
	
.mapcover {
	width: 100%;
	float: left;
	max-width: 1000px;
	border-radius: 5px;
	border: 1px solid #7b7b7b;
}
.mapcover_left {
	width: 100%;
	float: left;
	background-color: #efefef;
    border: 1px solid #c9c5c5;
    border-radius: 5px;
}
.mapcover_right {
	width: 100%;
	float: left;
    border-radius: 5px;
    border: 1px solid #c9c5c5;
}
.sales_head {
	background-color: #c9c5c5;
	color: #000;
	text-align: center;
	border-top-left-radius: 5px;	
	border-top-right-radius: 5px;
	font-weight: 600;
	padding: 10px;
}
.row_list {
	width: 100%;
	float: left;
}
.search_here {
	width: 98%;
	margin: 1%;
	padding: 10px;
	color : #363636;
	border: 1px solid #a2a6a6;
}
.border_bottom {
	border-bottom: 1px solid #c9c5c5;
}
.name_list {
	padding: 5px;
}
.map_head {
	background-color: #c9c5c5;
	color: #000;
	text-align: center;
	border-top-right-radius: 5px;
	font-weight: 600;
	padding: 10px;
}

#mainNav .navbar-collapse .navbar-sidenav{    top: 12px;width: 250px;}
.navbar-collapse .navbar-sidenav {
    background: #18667c !important;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler {
    background: #18667c !important;
}
.navbar-sidenav > .nav-item > .nav-link {
    padding: 10px !important;
    font-size: 14px !important; 
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: #ffffff;
}
.content-wrapper{background: #e9ecef;}
.bg-dark {
    background-color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(24, 102, 124);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(24, 102, 124);
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: #ffffff;
}
.navbar-dark .navbar-toggler-icon{background: transparent !important; cursor:pointer;}
.navbar-toggler-icon {
    display: inline-block;
    width: 20px;
    height: 22px;
	vertical-align: top;
	}
.accordian {width:97%;}
.accordian .panel-title a{color: #18667c;}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a{ font-size: 14px !important;  color: #ffffff;}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #37778a;
}
@media (max-width: 767px) {
.card-container.card {
	width: 100%;
}
.profile-img-card {
	width: 160px;
}
.bottom_bg{ 
    height: 80px; 
	}
.bottom_wtrmrk{ 
    bottom: 0;	
	}
	.dropdown-menu>li>a{
	color:#ffffff !important;	
		}
		.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{
	color:#ffffff !important;	
		}
}
/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}*/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}
a {
	text-decoration: none;
}
/**
 * Styling top level items
 */

.nav a, .nav label {
	display: block;
	padding: .85rem;
	color: #fff;
	background-color: #151515;
	box-shadow: inset 0 -1px #1d1d1d;
	-webkit-transition: all .25s ease-in;
	transition: all .25s ease-in;
}
.nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {
	color: rgba(255, 255, 255, 0.5);
	 
}
.nav label {
	cursor: pointer;
}
/**
 * Styling first level lists items
 */

.group-list a, .group-list label {
	padding: 5px 5px 5px 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
}
.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover {
	 
}
/**
 * Styling second level list items
 */

.sub-group-list a, .sub-group-list label {
	padding: 5px 5px 5px 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
}
.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover {
	 
	width:100%;
}
/**
 * Styling third level list items
 */

.sub-sub-group-list a, .sub-sub-group-list label {
	padding: 5px 5px 5px 21px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
}
.sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover {
	 
}
/**
 * Hide nested lists
 */

.group-list, .sub-group-list, .sub-sub-group-list {
	height: 100%;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height .5s ease-in-out;
	transition: max-height .5s ease-in-out;
}
.nav__list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
	max-height: 1000px;
}
/**
 * Rotating chevron icon
 */

label > span {
	float: right;
	-webkit-transition: -webkit-transform .65s ease;
	transition: transform .65s ease;
}
.nav__list input[type=checkbox]:checked + label > span {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.nav__list label {
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
} 
.nav__list label a { color: #ffffff;}
/*#mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh - 48px);
}*/
.blue_heading{
	color:#18667c !important;
	font-size: 14px;
	font-weight: 600;
}