@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,details,figcaption,figure,header,hgroup,menu,nav,section { 
    display:block;
}

input, select {
    vertical-align:middle;
}

*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li{ list-style:none;}

a, a:visited, a:active{ color:#4C4C4C; text-decoration:none;}


@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto-Condensed-webfont.eot');
    src: url('../fonts/Roboto-Condensed-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Condensed-webfont.woff') format('woff'),
         url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto-Condensed-webfont.eot');
    src: url('../fonts/Roboto-Condensed-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Condensed-webfont.woff') format('woff'),
         url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto-Black-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix{ overflow:hidden; clear:both;}

.align-center{ text-align:center;}

.padding-left{ padding-left:20px;}


.col-4, .col-6, .one-half, .one-third, .full-width{ float:left;}
.one-half{ width:50%;}
.col-4{ width:45%;}
.col-6{ width:55%;}
.one-third{ width:33.3333333333%;}
.full-width{ width:100%;}

/***************  contact form ***************/

input[type="text"]:focus, textarea:focus{ outline:none; border:none;}

.contact-form{ margin-top:30px;}
.form-item{ margin-bottom:15px; padding:0 10px;}
.form-control{display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 13px;
line-height: 1.615;
color: #555555;
vertical-align: middle;
background-color: #ffffff;
background-image: none;
border: 1px solid #dddddd;
border-radius: 0;
}

textarea.form-control{ resize:none; height:100px;}

.submit_btn{ width:75px; height:65px; background:transparent url(../images/submit_btn.png) center center no-repeat; outline:none; border:2px solid #d74343; cursor:pointer; margin-top:15px;}
.submit_btn:hover{background:#000000 url(../images/submit_btn.png) center center no-repeat; border:2px solid #000000; }


/***************  header ***************/


#header-section{ width:100%; position:fixed; z-index:100; }

.header{ padding:25px 0; background:#ffffff;}

.header-contact{ width:100%; background:#1A1A1A; text-align:right; font-size:13px;  font-family: 'RobotoBold';}
.header-contact span.demo-text{color:#d74343; font-size:15px; }
.header-contact span{ margin-left:5px; text-transform:uppercase; color:#9B9B9B; font-size:12px;}

.header-contact a.download-link{ background:url(../images/featured-icon.png) 98px -464px no-repeat; text-transform:uppercase; color:#ffffff; font-size:12px; display:inline-block; line-height:35px; padding-right:35px; margin-left:10px; }
.header-contact a.download-link:hover{ color:#d74343;}

#home-section{ width:100%; height:100%; padding-top:125px;}
.banner-content{ margin-top:80px; width:25%; color:#ffffff; text-align:right;}

.banner-content h1{ font-size:42px; line-height:normal; margin-bottom:20px; font-weight:normal !important;}

#overview p{ font-size:17px; line-height:25px; font-family: 'RobotoLight';  }
#about p{ font-size:14px; line-height:27px;}

.page-section{ width:100%; position:relative; padding:40px 0;}

.container{ width:980px; position:relative; margin:0 auto;}

#features{ padding:90px 0;}
#about{ padding:75px 0;}
#contact{ padding:70px 0;}

.logo{ float:left;}
.logo img{ display:block;}
.navigation{ float:right; padding:12px 0;}

.navigation ul li{ float:left; padding:0 10px;}
.navigation ul li a{ text-transform:uppercase; font-size:12px;  font-family: 'RobotoBlack'; color:#929292; }
.navigation ul li a:hover{ color:#d74343;}

.row{ width:100%; position:relative;}

.bg-red{ background:#d74343; color:#ffffff; }
.bg-black{ background:#000000;}
.bg-gray{ background:#f0f0f0;}

.gray1{ background:#3D3D3D;}
.gray2{ background:#131313;}
.gray3{ background:#1C1C1C;}
.gray4{ background:#0B0B0B;}
.gray5{ background:#0E0E0E;}
.gray6{ background:#262626;}

a.button_large, .submit_btn{transition:all .5s ease-in-out; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -ms-transition:all .5s ease-in-out; -o-transition:all .5s ease-in-out;  }

a.button_large{ padding:14px 58px; border:2px solid #d74343; color:#d74343; text-transform:uppercase; font-size:18px; display:inline-block; margin-top:40px; font-family: 'RobotoMedium';}

a.button_large:hover{ background:#000000; border:2px solid #000000; }

a.download_btn_red, a.download_btn_black{ display:inline-block; width:200px; height:70px; }

a.download_btn_red{ background:url(../images/logo1.png) center center no-repeat; margin-top:10px;}
a.download_btn_black{ background:url(../images/download_btn-black.png) center center no-repeat;}

/****** typography *******/
h1, h2, h3, h4, h5, h5, .section-title h1, p.sub-heading{font-family: 'RobotoLight';}


h1, h2, h3, h4, h5, h5{ font-weight:normal !important;}

h1{ font-size:38px; margin-bottom:25px;}


.section-title{ text-align:center; margin-bottom:50px;}
.section-title h1{ font-size:40px; line-height:40px; margin-bottom:5px; color:#d74343;}
span.sub-title{ font-size:14px; color:#000000; text-transform:uppercase;  font-family: 'RobotoBold';}

.bg-red .section-title h1{ color:#ffffff;}

p{ font-size:15px; line-height:22px; margin-bottom:15px;}

p.sub-heading{ font-size:20px; line-height:28px;}
ul.benefit-list{ margin-top:40px;}

ul.benefit-list li{ color:#d74343; margin-bottom:15px; line-height:18px; font-size:14px; padding-left:25px; background:url(../images/list-type1.png) 0 4px no-repeat; }

ul.featured-list li{ width:163px; display:block; float:left; height:150px; text-align:center; color:#ffffff; font-family: 'RobotoLight'; font-size:14px; line-height:18px; padding:24px 8px;}

span.icon{ width:55px; height:55px; background:url(../images/featured-icon.png) no-repeat; display:block; margin:0 auto 15px;}

span.anytimeAccess{ background-position:5px 0; } 
span.realTimedata{ background-position:1px -50px; } 
span.accurateGPS{ background-position:5px -100px; } 
span.noDataLoss{ background-position:5px -154px; } 
span.evenWorks{ background-position:1px -210px; } 
span.androidCompatible{ background-position:9px -270px; } 

span.address{ display:block; margin-bottom:8px;}

ul.list-type1{ margin-top:20px;}
ul.list-type1 li{ margin-bottom:18px; line-height:24px; font-size:17px; padding-left:25px; background:url(../images/list-type2.png) 0 5px no-repeat; font-family: 'RobotoLight';}

/****** footer *******/
#footer{ width:100%; position:relative;}
.footer-top{ width:100%; padding:40px 0; position:relative; min-height:340px;}

.footer-bottom{ width:100%; padding:40px 0;}

.footer-corner-image{ position:absolute; right:0; bottom:0; }

.footer-content{ color:#4C4C4C; font-size:18px; margin-bottom:30px;}

.footer-content span.email-id{ margin-left:20px; background:url(../images/featured-icon.png) 1px -376px no-repeat; padding-left:40px;}
.footer-content span.phone-no{background:url(../images/featured-icon.png) 1px -341px no-repeat; padding-left:25px;}

.footer-bottom .copyright{font-size:12px; color:#4C4C4C;}
.footer-bottom .copyright a:hover{ color:#dddddd; text-decoration:underline;}
.quytech-image{ vertical-align:middle; padding:0 5px;}

/****** media queries *******/


