* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	background: #fff;
	color: #393939;
}
.menulist {
	border: solid 1px #BDBDBD;
	color: #393939;
	font-family: Arial;
	font-size: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 150px;
	height: 30px;
}
@font-face {
	font-family: 'RobotoBlack';
	src: url('../fonts/Roboto-Black-webfont.eot');
	src: url('../fonts/Roboto-Black-webfont.eot@#iefix') format('embedded-opentype'), url('../fonts/Roboto-Black-webfont.woff') format('woff'), url('../fonts/Roboto-Light-webfont.ttf') format('truetype'), url('../fonts/Roboto-Black-webfont.svg#RobotoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto-Condensed-webfont.eot');
    src: url('../fonts/Roboto-Condensed-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Condensed-webfont.woff') format('woff'),
         url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto-Condensed-webfont.eot');
    src: url('../fonts/Roboto-Condensed-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Condensed-webfont.woff') format('woff'),
         url('../fonts/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto-Black-webfont.eot@#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
	
	
	
	
span {
	font-family: 'RobotoBlack' !important;
}
#page-top-outer {
	background: url(../images/content_repeat.jpg) repeat-x;
	height: 60px;
}
#page-top {
	margin: 0 auto;
	max-width: 1024px;
}
#logo {
	float: left;
	margin-top: 10px;
}
#logo a {
	display: block;
}
#logoright {
	float: right;
	margin-top: 20px;
}
#logoright a {
	display: block;
}
#content-outer {
}
#content {
	color: #423B3B;
	font-family: 'RobotoBlack';
	font-size: 12px;
	/*line-height: 18px;*/
	margin: 0 auto 0 auto;
	max-width: 1024px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 0px solid #000000;
}
#content-inner {
	color: #423B3B;
	font-family: 'RobotoBlack';
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0px auto;
	padding: 25px 0 30px 0;
}
#content-table {
	font-size: 0px;
	line-height: 0px;
	margin-bottom: 15px;/*border:1px solid #999999;
	border-radius:5px ;
	-moz-border-radius:5px ;
	-o-border-radius:5px ;
	-ms-border-radius:5px ;*/
}
#content-table th.sized {
	height: 15px;
	width: 15px;
	padding: 0;
	margin: 0;
	font-size: 0px;
	line-height: 0px;
}
#content-table-inner {
	font-size: 12px;
	line-height: 12px;
	border: 1px solid #999999;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	padding: 10px;
	color: #423B3B
}
/*#tbl-border-top	{
	background: url(../images/border_bit.jpg) top repeat-x;
	line-height: 0;font-size: 0px;
	height: 15px;
	}
#tbl-border-bottom	{
	background: url(../images/border_bit.jpg) bottom repeat-x;
	line-height: 0;font-size: 0px;
	height: 15px;
	}
#tbl-border-left	{
	background: url(../images/border_bit.jpg) left repeat-y;
	}
#tbl-border-right	{
	background: url(../images/border_bit.jpg) right repeat-y;
	}*/
#table-content {
	line-height: 16px;
	margin: 0 10px 10px 10px;
	min-height: 300px;
}
/*	
.topleft {
background: url(../images/corner_top_left.jpg) no-repeat;
width:15px;
height:15px;
	
}	
.topright {
background: url(../images/corner_top_right.jpg) no-repeat;
width:15px;
height:15px;
	
}	

.bottomleft {
background: url(../images/corner_bottom_left.jpg)  no-repeat;
width:15px;
height:15px;
	
}	
.bottomright {
background: url(../images/corner_bottom_right.jpg)  no-repeat;
width:15px;
height:15px;
	
}	*/

#page-heading {
	margin: 0 0 15px 24px;
}
h1 {
	color: red;
	font-family: 'RobotoLight';
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
}
h2 {
	color: #393939;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 20px;
}
h3 {
	color: #423B3B;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 7px;
}
h6 {
	color: #423B3B;
	font-size: 14px;
	font-weight: bold;
	line-height: 39px;
	margin-bottom: 10px;
}
#top-navigation {
	float: right;
	color: #2e74b2;
	font-family: 'RobotoBlack';
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	margin: 0px 0px 0 0px;
	padding-top: 25px;
}
#top-navigationhead {
	color: #929292;
	font-family: 'RobotoBlack';
	float: right;
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	z-index: 10001;
}
div#top-navigationhead a span {
	color: #d74343;
}
/* MESSAGES --------------------------------------------------------------- */	
#message-yellow {
	margin-bottom: 5px;
}
.yellow-left {
	background: url(../images/message_yellow.gif) top left no-repeat;
	color: #e79300;
	font-family: 'RobotoBlack';
	font-weight: bold;
	padding: 0 0 0 20px;
}
.yellow-left a {
	color: #e79300;
	font-family: 'RobotoBlack';
	font-weight: normal;
	text-decoration: underline;
}
.yellow-right a {
	cursor: pointer;
}
.yellow-right {
	width: 55px;
}
#message-blue {
	margin-bottom: 5px;
}
.blue-left {
	background: url(../images/message_blue.gif) top left no-repeat;
	color: #2e74b2;
	font-family: 'RobotoBlack';
	font-weight: bold;
	padding: 0 0 0 20px;
}
.blue-left a {
	color: #2e74b2;
	font-family: 'RobotoBlack';
	font-weight: normal;
	text-decoration: underline;
}
.blue-right a {
	cursor: pointer;
}
.blue-right {
	width: 55px;
}
#message-red {
	margin-bottom: 5px;
}
.red-left {
	background: url(../images/message_red.gif) top left no-repeat;
	color: #ce2700;
	font-family: 'RobotoBlack';
	font-weight: bold;
	padding: 0 0 0 20px;
}
.red-left a {
	color: #ce2700;
	font-family: 'RobotoBlack';
	font-weight: normal;
	text-decoration: underline;
}
.red-right a {
	cursor: pointer;
}
.red-right {
	width: 55px;
}
#message-green {
	margin-bottom: 5px;
}
.green-left {
	background: url(../images/21message_green.gif) top left no-repeat;
	color: #fff;
	font-family: 'RobotoBlack';
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 20px;
	border-left-radius: 3px;
}
.green-left a {
	color: #fff;
	font-family: 'RobotoBlack';
	font-weight: normal;
	text-decoration: underline;
}
.green-right a {
	cursor: pointer;
}
.green-right {
	width: 55px;
}
#tooltip {
	background-color: #8c8c8c;
	border: 1px solid #767676;
	color: #fff;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.85;
	padding: 0 5px;
	position: absolute;
	text-align: left;
	z-index: 3000;
}
#tooltip h6, #tooltip div {
	font-family: Arial;
	font-size: 11px;
	line-height: 20px;
	margin: 0;
}
#product-table {
	margin-bottom: 20px;
}
#product-table td a {
	color: #393939;
}
#product-table td a:hover {
	text-decoration: underline;
}
#product-table th {
	height: 50px;
	text-align: left;
}
#product-table .minwidth-1 {
	min-width: 110px;
}
#product-table td {
	border: 1px solid #d2d2d2;
	padding: 10px 0 10px 10px;
}
#product-table tr.alternate-row {
	background: #ececec;
}
#order-table {
	margin-bottom: 20px;
}
#order-table td a {
	color: #393939;
}
#order-table td a:hover {
	text-decoration: underline;
}
#order-table th {
	height: 50px;
	text-align: left;
}
#order-table .minwidth-1 {
	min-width: 110px;
}
#order-table td {
	border: 1px solid #d2d2d2;
	padding: 10px 0 10px 10px;
}
#order-table tr.alternate-row {
	background: #ececec;
}
td.options-width {
	padding: 0 0 0 10px;
	width: 210px;
}
td.checkbox-width {
}
.table-header-check {
	background: url(../images/table_header_checkbox.jpg) no-repeat;
	border: none;
	min-width: 29px;
	padding: 0px 0 0 10px;
	width: 29px;
}
.table-header-options {
	background: url(../images/table_header_options.jpg) no-repeat;
	border: none;
	min-width: 221px;
	padding: 0px 0 0 0;
	width: 221px;
}
.table-header-repeat {
	background: #6E6E6E;
	border: none;
	font-size: 14px;
	color: #fff;
	line-height: 16px;
	padding: 0px 0 0 10px;
}
.table-header-options a, .table-header-repeat a {
	background: url(../images/table/table_sort_arrow.gif) right no-repeat;
	color: #fff;
	font-family: 'RobotoBlack';
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
}
.table-header-options a:hover, .table-header-repeat a:hover {
	color: #94b52c
}
th.line-left {
	border-left: 1px solid #373737;
}
#product-table tr.activity-blue {
	background: #e3eceb;
}
#toggle-all {
	display: block;
	width: 17px;
	height: 17px;
	cursor: pointer;
	background: url(../images/shared/checkbox.gif) 0 -17px;
}
#toggle-all.toggle-checked {
	display: block;
	width: 17px;
	height: 17px;
	background: url(../images/shared/checkbox.gif) 0 0;
}
#order-table tr.activity-blue {
	background: #e3eceb;
}
#toggle-all {
	display: block;
	width: 17px;
	height: 17px;
	cursor: pointer;
	background: url(../images/shared/checkbox.gif) 0 -17px;
}
#toggle-all.toggle-checked {
	display: block;
	width: 17px;
	height: 17px;
	background: url(../images/shared/checkbox.gif) 0 0;
}
/*  ORDER ACTIVIES BOX */	

#order-activities {
	float: right;
	font-size: 0px;
	line-height: 0;
	width: 271px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
#order-act-top {
	background: #d74343;
	color: #fff;
	font-family: 'RobotoBlack';
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	text-align: center;
	margin: 0 0 0 0;
	padding: 10px 0 0 10px;
	width: auto;
	height: 25px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
}
#order-act-bottom {
	background: #fff;
	border: solid 1px #6E6E6E;
	font-size: 0px;
	line-height: 0;
	width: 232px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	box-shadow: 0px 3px 5px 2px #ccc;
	-moz-box-shadow: 0px 3px 5px 2px #ccc;
	-webkit-box-shadow: 0px 3px 5px 2px #ccc;
}
#order-act-inner {
	font-size: 11px;
	line-height: 16px;
	margin: 0 auto 0px auto;
	padding: 10px 0 20px 0;
	width: 225px;
}
#order-act-inner .left {
	float: left;
	width: 30px;
}
#order-act-inner .right {
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
}
#order-act-inner .right h5 {
	color: #393939;
	font-size: 12px;
}
#order-act-body {
	font-size: 11px;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 10px 0 20px 0;
	width: 225px;
}
#order-act-body .left {
	float: left;
	width: 30px;
}
#order-act-body .right {
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
}
#order-act-body .right h5 {
	color: #d74343;
	font-size: 12px;
}
/*  RELATED ACTIVIES BOX */	

#related-activities {
	float: right;
	font-size: 0px;
	line-height: 0;
	/*width: 271px;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
#related-act-top {
	background: #6E6E6E;
	color: #fff;
	font-family: 'RobotoBlack';
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 0;
	padding: 10px 0 0 10px;
	width: 225px;
	height: 25px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
}
#related-act-bottom {
	background: #fff;
	border: solid 1px #6E6E6E;
	font-size: 0px;
	line-height: 0;
	width: 232px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	box-shadow: 0px 3px 5px 2px #ccc;
	-moz-box-shadow: 0px 3px 5px 2px #ccc;
	-webkit-box-shadow: 0px 3px 5px 2px #ccc;
}
#related-act-inner {
	font-size: 11px;
	line-height: 16px;
	margin: 0 auto 0px auto;
	padding: 10px 0 20px 0;
	width: 225px;
}
#related-act-inner .left {
	float: left;
	width: 30px;
}
#related-act-inner .right {
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
}
#related-act-inner .right h5 {
	color: #393939;
	font-size: 12px;
}
#related-act-body {
	font-size: 11px;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 10px 0 20px 0;
	width: 225px;
}
#related-act-body .left {
	float: left;
	width: 30px;
}
#related-act-body .right {
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
}
#related-act-body .right h5 {
	color: #d74343;
	font-size: 12px;
}
#firstrelated-activities {
	float: right;
	font-size: 0px;
	line-height: 0;
	width: 400px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
#firstrelated-act-top {
	background: #6E6E6E;
	color: #fff;
	font-family: 'RobotoBlack';
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 0;
	padding: 10px 0 0 10px;
	width: 350px;
	height: 25px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
}
#firstrelated-act-bottom {
	background: #fff;
	border: solid 1px #6E6E6E;
	font-size: 0px;
	line-height: 0;
	width: 356px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	box-shadow: 0px 3px 5px 2px #ccc;
	-moz-box-shadow: 0px 3px 5px 2px #ccc;
	-webkit-box-shadow: 0px 3px 5px 2px #ccc;
}
#firstrelated-act-inner {
	font-size: 11px;
	line-height: 16px;
	margin: 0 auto 0px auto;
	padding: 10px 0 20px 0;
	width: 350px;
}
#firstrelated-act-inner .left {
	float: left;
	width: 30px;
}
#firstrelated-act-inner .right {
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
}
#firstrelated-act-inner .right h5 {
	color: #393939;
	font-size: 12px;
}
#firstrelated-act-body {
	font-size: 11px;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 10px 0 20px 0;
	width: 225px;
}
#firstrelated-act-body .left {
	float: left;
	width: 30px;
}
#firstrelated-act-body .right {
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
}
#firstrelated-act-body .right h5 {
	color: #d74343;
	font-size: 12px;
}
ul.greyarrow {
	list-style-type: none;
}
ul.greyarrow li {
	background: url(../images/icon_list_arrow.gif) no-repeat 0 5px;
	line-height: 18px;
	padding: 0 0 0 12px;
}
ul.greyarrow li a {
	color: #d74343;
	font-weight: bold;
}
ul.greyarrow li a:hover {
	text-decoration: underline;
}
.lines-dotted-short {
	background: url(../images/lines_dotted_short.gif) no-repeat 0px 14px;
	font-size: 0px;
	height: 28px;
	line-height: 0;
}
/* PAGING --------------------------------------------------------- */	

#paging-table {
	float: right;
	margin: 0 4px 0 0;
}
.page-far-left {
	background: url(../images/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 0;
	width: 24px;
}
.page-left {
	background: url(../images/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}
.page-far-right {
	background: url(../images/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 4px;
	width: 24px;
}
.page-right {
	background: url(../images/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}
#page-info {
	float: left;
	line-height: 16px;
	padding: 3px 12px 0 12px;
}
/*  ACTIONS BOX ----------------------------------------------- */	
#actions-box {
	float: left;
	margin: 0 0 0 10px;
	position: relative;
}
a.action-slider {
	background: url(../images/table/dropdown_actions.gif) no-repeat;
	display: block;
	height: 30px;
	width: 110px;
}
a.action-slider.activated {
	background: url(../images/table/dropdown_actions.gif) no-repeat 0 -30px;
	display: block;
	height: 30px;
	width: 110px;
}
#actions-box-slider {
	background: url(../images/table/actions_slider_bg.gif) bottom no-repeat;
	display: none;
	left: 0;
	padding-bottom: 1px;
	padding-top: 10px;
	position: absolute;
	top: 24px;
	width: 110px;
}
#actions-box-slider-inner {
	font-size: 0px;
	line-height: 0;
	margin: 0 auto;
	width: 108px;
}
a.action-edit, a.action-delete {
	color: #272727;
	display: block;
	font-weight: bold;
	height: 20px;
	margin: 0 auto;
	padding: 10px 0 5px 45px;
	width: 63px;
}
a:hover.action-edit {
	background: #949494 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	color: #fff;
}
a.action-edit {
	background: #c7c7c7 url(../images/table/action_edit.gif) no-repeat 14px 5px;
}
a.action-delete {
	background: #c7c7c7 url(../images/table/action_delete.gif) no-repeat 14px 5px;
}
a:hover.action-delete {
	background: #949494 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	color: #fff;
}
/* FORM ------------------------------------------------------- */	
.form-submit {
	/*background: #d74343;*/
	background: rgb(1, 130, 198);
	border: none;
	font-family: 'RobotoBlack';
	font-weight: bold;
	line-height: 9px;
	color: #ffffff;
	cursor: pointer;
	display: block;
	float: left;
	height: 25px;
	margin: 0px 4px 4px 4px;
	padding: 5px 10px;
	width: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.trbgcolor {
	background: #FFFF00;
}
.form-reset {
	background: #848484;
	border: none;
	font-family: 'RobotoBlack';
	font-weight: bold;
	line-height: 12px;
	color: #ffffff;
	cursor: pointer;
	display: block;
	float: left;
	height: 25px;
	margin: 0 2px 2px 2px;
	padding: 5px 10px;
	width: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.form-cen {
	background: #848484;
	border: none;
	font-family: 'RobotoBlack';
	font-weight: bold;
	line-height: 12px;
	color: #ffffff;
	cursor: pointer;
	display: block;
	float: center;
	height: 25px;
	margin: 0 4px 4px 4px;
	padding: 7px 10px;
	width: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.result-submit {
	/*background:#d74343;*/
	background: rgb(1, 130, 198);
	border: none;
	font-family: 'RobotoBlack';
	font-weight: bold;
	line-height: 12px;
	color: #ffffff;
	height: 25px;
	margin: 0 4px 4px 4px;
	padding: 5px 5px;
	width: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.proceed-submit {
	background: #666666;
	border: none;
	font-family: 'RobotoBlack';
	font-weight: bold;
	line-height: 12px;
	color: #ffffff;
	height: 25px;
	margin: 0 4px 4px 4px;
	padding: 5px 5px;
	width: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	cursor: pointer;
}
#id-form {
}
.inp-form {
	background: url(../images/form_inp.gif) no-repeat;
	border: none;
	color: #393939;
	height: 25px;
	padding: 6px 6px 0 6px;
	width: 186px;
}
.inp-registrationform {
	border: solid 1px #BDBDBD;
	color: #393939;
	height: 20px;
	padding: 6px 6px 0 6px;
	width: 186px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
#sd_txt {
	background-image: url(../images/icon_calendar.jpg);
	background-repeat: no-repeat;
	padding-right: 30px;
	display: block;
}
.required {
	border: solid 1px #dc0000;
	color: #393939;
	/*height: 20px;
	padding: 6px 6px 0 6px;*/
	padding: 6px;
	width: 187px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.text {
	border: solid 1px #BDBDBD;
	color: #393939;
	/*height: 20px;*/
	padding: 6px ;
	width: 187px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.textarea {
	border: solid 1px #BDBDBD;
	color: #393939;
	font-family: 'RobotoBlack';
	font-size: 12px;
	height: 60px;
	overflow: auto;
	padding: 5px;
	width: 187px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.textarea1 {
	border: solid 1px #BDBDBD;
	color: #393939;
	font-family: 'RobotoBlack';
	font-size: 12px;
	height: 60px;
	overflow: auto;
	padding: 5px;
	width: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.date {
	background: url(../images/icon_calendar.jpg) right no-repeat;
	padding-right: 17px;
	/*height: 20px;
	padding: 6px 6px 0 6px;*/
	padding: 6px;
	width: 187px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#id-form td {
	padding: 0 0 10px 0;
}
#id-form td.noheight {
	padding: 0 0 0px 0;
}
#id-form th {
	line-height: 28px;
	min-width: 200px;
	padding: 0 10px 10px 0;
	text-align: left;
	width: auto;
}
.styledselect-day, .styledselect-month, .styledselect-year {
	border: 1px solid #acacac;
	margin-right: 3px;
	padding: 3px;
	width: 64px;
}
#step-holder {
	font-family: 'RobotoBlack';
	height: 39px;
	margin-bottom: 20px;
}
.step-no {
	float: left;
	height: 29px;
	width: 18px;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 0 0 0;
	text-align: center;
}
.step-no-off {
	float: left;
	height: 29px;
	width: 18px;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 0 0 0;
	text-align: center;
	color: #cbcbcb;
}
.step-dark-left {
	float: left;
	background: url(../images/step_dark_left.gif) no-repeat;
	height: 27px;
	padding: 13px 15px 0 25px;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
}
.step-dark-left a {
	font-size: 13px;
	color: #fff;
	font-weight: bold;
}
.step-dark-right {
	float: left;
	width: 12px;
	background: url(../images/step_dark_right.gif) no-repeat;
	height: 39px;
}
.step-dark-round {
	float: left;
	width: 8px;
	height: 39px;
	background: url(../images/step_dark_round.gif) no-repeat;
}
.step-light-left {
	float: left;
	height: 27px;
	padding: 13px 15px 0 25px;
	font-size: 13px;
	background: url(../images/step_light_left.gif) no-repeat;
	height: 39px;
	color: #cbcbcb;
	font-weight: bold;
}
.step-light-left a {
	font-size: 13px;
	color: #cbcbcb;
	font-weight: bold;
}
.step-light-right {
	float: left;
	width: 12px;
	background: url(../images/step_light_right.gif) no-repeat;
	height: 39px;
}
.step-light-round {
	float: left;
	width: 8px;
	height: 39px;
	background: url(../images/step_light_round.gif) no-repeat;
}
.bubble-left {
	float: left;
	width: 10px;
	height: 29px;
	margin-left: 5px;
	background: url(../images/forms/bubble_left.gif) no-repeat;
}
.bubble-inner {
	float: left;
	padding: 7px 0px 0 2px;
	color: #2e74b2;
	line-height: 14px;
	font-size: 11px;
	height: 22px;
	background: url(../images/forms/bubble_inner.gif) repeat-x;
}
.bubble-right {
	float: left;
	width: 8px;
	height: 29px;
	background: url(../images/forms/bubble_right.gif) right no-repeat;
}
.error-left {
	float: left;
	width: 13px;
	height: 32px;
	margin-left: 5px;
	background: url(../images/forms/error_left.gif) no-repeat;
}
.error-inner {
	float: left;
	padding: 7px 10px 0 4px;
	color: #fff;
	line-height: 14px;
	height: 25px;
	background: url(../images/forms/error_right.gif) right no-repeat;
}
#file_1 {/*border: solid 1px #dc0000*/;
	padding: 5px;
}
/*  NAVIGATION ----------------------------------------------- */
#nav-holder {
	margin: 0 auto;
	max-width: 1260px;
	min-width: 780px;
	text-align: left;
}
.nav-outer-repeat {
	background: url(../images/repeat.jpg) repeat-x;
	height: 92px;
}
.nav-outer {
	margin: 0 auto;
	max-width: auto;
	min-width: auto;
}
#nav-right {
	float: right;
	position: relative;
	max-width: 475px;
	min-width: 475px;
	z-index: 0;
}
#nav-right a {
	display: block;
	margin: 0px 0 0 0;
}
.account-content {
	background: #454545 url(../images/account_drop_bg.gif) no-repeat bottom;
	display: none;
	left: 5px;
	padding-bottom: 20px;
	position: absolute;
	top: 30px;
	width: 170px;
}
.account-drop-inner {
	font-size: 0px;
	line-height: 0px;
	margin: 20px auto 0 auto;
	width: 140px;
}
.showhide-account {
	cursor: pointer;
	display: block;
	float: right;
	margin: 0px 0px 0 0px;
}
.account-drop-inner a {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.account-drop-inner a:hover {
	color: #d74343;
}
.acc-line {
	background: url(../images/account_line.gif) no-repeat 0 7px;
	font-size: 0px;
	height: 14px;
	line-height: 0px;
	margin-top: 0px;
	padding: 0;
}
a#logout {
	margin: 10px 0 0 5px;
}
a#acc-settings {
	background: url(../images/icon_acc_settings.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
a#acc-details {
	background: url(../images/icon_acc_personal.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
a#acc-project {
	background: url(../images/icon_acc_personal.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
a#acc-inbox {
	background: url(../images/icon_acc_inbox.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
.nav {
	float: left;
	font-family: 'RobotoBlack';
	font-size: 12px;
	height: 15px;
	position: relative;
	max-width: auto;
	min-width: auto;/*z-index: 500;*/
}
.nav-divider {
	/*background: url(../images/divider.jpg) top no-repeat;*/
	float: left;
	height: 20px;
	width: 10px;
}
.nav .table {
	display: table;
}
.nav .select, .nav .current {
	display: table-cell;
	float: left;
	list-style: none;
	margin: 0 0px 0 0;
	padding: 0;
	white-space: nowrap;
}
.nav li {
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
}
.nav .select a {
	background: url(../images/pro_line_0.gif);
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 20px 0 20px;
	text-decoration: none;
	white-space: nowrap;
}
.nav .current a {
	background: url(../images/pro_line_1.gif);
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 0 0 10px;
	text-decoration: none;
	white-space: nowrap;
}
.nav .current a b {
	background: url(../images/pro_line_1.gif) right top;
	display: block;
	padding: 0 20px 0 10px;
}
.nav .select a:hover, .nav .select li:hover a {
	background: url(../images/pro_line_1.gif);
	color: #fff;
	cursor: pointer;
	padding: 0 0 0 10px;
}
.nav .select a:hover b, .nav .select li:hover a b {
	background: url(../images/pro_line_1.gif) right top;
	cursor: pointer;
	display: block;
	float: left;
	padding: 0 20px 0 10px;
}
.nav .select_sub {
	display: none;
	margin: 0 0 0 10px;
}
/* IE6 only */
.nav table {
	border-collapse: collapse;
	font-size: 1em;
	height: 0;
	margin: -1px;
	width: 0;
}
.nav .sub {
	display: table;
	list-style: none;
	/* margin: 0 auto; */
	padding: 0;
}
.nav .sub_active .current_sub a, .nav .sub_active a:hover {
	background: transparent;
	color: #fff;
}
.nav .select :hover .select_sub, .nav .current .show {
	background: url(../images/back_0.gif);
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 37px;
	width: auto;
	z-index: 100;
}
.nav .current .show {
	z-index: 10;
}
.nav .select :hover .sub li a, .nav .current .show .sub li a {
	background: transparent;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	display: block;
	float: left;
	margin: 0;
	padding: 0 10px 0 10px;/*white-space: nowrap;*/
}
.nav .current .sub li.sub_show a {
	background: url(../images/back_1.gif);
	color: #d74343;
	cursor: default;
}
.nav .select :hover .sub li a:hover, .nav .current .sub li a:hover {
	background: url(../images/back_1.gif);
	color: #d74343;
	visibility: visible;
}
/* FOOTER -------------------------------------------------------------- */

 
#footer {
	height: 70px;
	margin: 10px auto 0px auto;
	padding: 0px 0 0 0;
	text-align: left;
	min-width: 780px;
	max-width: 1260px;
}
.div_footer {
	position: fixed;
	height: 39px;
	bottom: 0;
	width: 100%;
	font: normal 12px 'RobotoBlack';
	font-weight: bold;
	background: url(../menu/images/main-bg.png) repeat-x;
}
#footer-left {
	color: #818181;
	font-size: 15px;
	line-height: 11px;
	padding: 5px 0 15px 25px;
	margin: 0 20px;
	/*border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;*/
	--background: url(../images/icon_quytech.png) no-repeat 0 12px;
}
#footer-left a {
	color: #818181;
	text-decoration: none;
}
#footer-left a.selected, #footer-left a:hover {
	color: #000;
	text-decoration: none;
}
/* GENERAL --------------------------------------------------------*/ 
table {
	border-collapse: collapse;
}
.fr {
	float: right;
}
a {
	outline: none;
	text-decoration: none;
}
a:hover {
}
.clear {
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
img {
	border: 0;
}
p {
	margin: 0px;
	padding: 0px;
}
form {
	margin: 0;
	padding: 0;
}
.line {
	border-top: 1px solid #dcdada;
	font-size: 0px;
	height: 1px;
	line-height: 0px;
	margin: 20px 0;
	padding: 0;
}
.font11 {
	font-size: 11px;
}
/*  STYLED SELECTBOXES style 1 --------------------------------- */	

.styledselect {
	background: #2a2a2a;
	border: 1px solid #424242;
	color: #fff;
	width: 120px;
	padding: 5px;
	line-height: 14px;
	margin-right: 6px;
	font-size: 12px;
}
div.selectbox-wrapper {
	background-color: #2a2a2a;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
	z-index: 10;
}
div.selectbox-wrapper ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	z-index: 10;
}
div.selectbox-wrapper ul li.selected {
	background-color: 575757;
	color: #fff;
}
div.selectbox-wrapper ul li.current {
	background-color: #575757;
}
div.selectbox-wrapper ul li {
	border-bottom: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
}
.selectbox_styled {
	background: url(../images/shared/top_search_select.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 6px 0 0 6px;
	text-align: left;
	width: 105px;
	z-index: 10;
}
/*  STYLED SELECTBOXES style 2 --------------------------------- */	
div.selectbox-wrapper2 {
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
}
div.selectbox-wrapper2 ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
div.selectbox-wrapper2 ul li.selected2 {
	background-color: #d74343;
	color: #fff;
}
div.selectbox-wrapper2 ul li.current2 {
	background-color: #d74343;
	color: #fff;
}
div.selectbox-wrapper2 ul li {
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
}
.styledselect_form_1 {
	background: url(../images/form_select.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 7px 0 0 6px;
	text-align: left;
	width: 192px;
}
.styledselect_form_2 {
	background: url(../images/form_select_small.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 24px;
	margin: 0px 0px 0px 0px;
	padding: 7px 0 0 10px;
	text-align: left;
	width: 60px;
}
/*  Me --------------------------------- */	
.styledselect_form_3 {
	border: solid 1px #BDBDBD;
 --border-left: solid;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 30px;
	margin: 0px 0px 0px 0px;
 --padding: 7px 0 0 6px;
	text-align: left;
	width: 198px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.styledselect_form_4 {
	border: solid 1px #dc0000;
 --border-left: solid;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 30px;
	margin: 0px 0px 0px 0px;
 --padding: 7px 0 0 6px;
	text-align: left;
	width: 198px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.styledselect_form_5 {
	border: solid 1px #BDBDBD;
 --border-left: solid;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 30px;
	margin: 0px 0px 0px 0px;
 --padding: 7px 0 0 6px;
	text-align: left;
	width: 198px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
}
option {
}
/*  STYLED SELECTBOXES style 3 --------------------------------- */	
div.selectbox-wrapper3 {
	background-color: #e3e3e3;
	border: none;
	border-bottom: none;
	margin: 0px;
	margin-top: 0px;
	max-height: 200px;
	overflow: auto;
	padding: 0px;
	position: absolute;
	text-align: left;
	width: 400px;
}
div.selectbox-wrapper3 ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
div.selectbox-wrapper2 ul li.selected3 {
	background-color: #d74343;
	color: #fff;
}
div.selectbox-wrapper2 ul li.current3 {
	background-color: #d74343;
	color: #fff;
}
div.selectbox-wrapper3 ul li {
	border-bottom: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	list-style-type: none;
	margin: 0;
	padding: 6px 2px 6px 10px;
}
.styledselect_pages {
	background: url(../images/table/select_number_rows.gif) left no-repeat;
	border: none;
	border-left: none;
	color: #393939;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 12px;
	height: 20px;
	line-height: 16px;
	margin: 0px 0px 0px 0px;
	padding: 4px 0 0 6px;
	text-align: left;
	width: 130px;
}
/* STYLED CHECKBOXES AND RADIOS -------------------------------------------- */	
.ui-radio-state-disabled, .ui-radio-state-checked-disabled, .ui-radio-state-disabled-hover, .ui-radio-state-checked-disabled-hover {
	color: #999;
}
span.ui-checkbox, span.ui-radio {
	background: url(../images/shared/checkbox.gif) 0 -17px no-repeat;
	display: block;
	float: left;
	height: 17px;
	width: 17px;
}
span.ui-helper-hidden {
	display: none;
}
label {
	padding: 2px;
}
span.ui-radio-state-hover, span.ui-checkbox-state-hover {
	background-position: 0 0px;
}
span.ui-checkbox-state-checked {
	background-position: 0 0px;
}
span.ui-checkbox-state-checked-hover {
	background-position: 0 0px;
}
span.ui-radio-state-checked-disabled-hover, span.ui-radio-state-checked-disabled, span.ui-radio-state-checked {
	background-position: 0 -161px;
}
span.ui-radio-state-checked-hover {
	background-position: 0 -17px;
}
label {
	color: red;
	line-height: 20px;
}
.ui-helper-hidden-accessible {
	left: -999em;
	position: absolute;
}
/*  LOGIN -------------------------------------------------------------------------------- */	

#login-bg {
	background: url(../images/content_repeat.jpg) repeat-x;
}
#login-holder {
	margin: 0px auto 0 auto;
	width: 508px;
}
#loginbox {
	background: url(../images/loginbox_bg.png) no-repeat;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px;
}
#forgotbox {
	background: url(../images/loginbox_bg.png) no-repeat;
	display: none;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px;
}
#login-inner {
	color: #161616;
	font-family: 'RobotoBlack';
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 310px;
}
#login-inner label {
	color: #161616;
	cursor: pointer;
	font-family: 'RobotoBlack';
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
}
.checkbox-size {
	width: 13px;
	height: 13px;
	margin: 5px 0;
}
#login-inner th {
	padding: 0 0 6px 0;
	text-align: left;
	width: 95px;
}
#login-inner td {
	padding: 0 0 6px 0;
}
.login-inp {
	background: url(../images/inp_login.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 16px;
	height: 28px;
	padding: 6px 6px 0 10px;
	width: 204px;
}
.login-inpnew {
	background: url(../images/inp_login.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 14px;
	height: 28px;
	padding: 6px 6px 0 10px;
	width: 136px;
}
#logo-login {
	float: left;
	height: 35px;
	margin: 145px 10px 15px 15px;
}
a.forgot {
	bottom: 30px;
	color: #161616;
	font-family: 'RobotoBlack';
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	position: absolute;
	right: 40px;
}
a:hover.forgot {
	color: #fff;
}
a.registration {
	bottom: 30px;
	color: #fff;
	font-family: 'RobotoBlack';
	font-size: 11px;
	font-weight: bold;
	line-height: 15px;
	position: absolute;
	left: 40px;
}
a:hover.registration {
	color: #161616;
}
#forgotbox-text {
	color: #161616;
	font-family: 'RobotoBlack';
	font-size: 13px;
	font-weight: bold;
	line-height: 12px;
	margin: 0 auto 40px auto;
	width: 380px;
}
#forgot-inner {
	color: #161616;
	font-family: 'RobotoBlack';
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 330px;
}
#forgot-inner label {
	color: #161616;
	cursor: pointer;
	font-family: 'RobotoBlack';
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
}
#forgot-inner th {
	padding: 0 0 6px 0;
	text-align: left;
	width: 110px;
}
#forgot-inner td {
	padding: 0 0 6px 0;
}
a.back-login-page {
	background: url(../images/icon_back_login.gif) no-repeat 0 4px;
	bottom: 30px;
	color: #161616;
	font-family: 'RobotoBlack';
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 10px;
	position: absolute;
	right: 40px;
}
a:hover.back-login-page {
	color: #fff;
}
.submit-login {
	background: url(../images/submit_login.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	height: 29px;
	text-indent: -3000px;
	width: 73px;
}
.submit-login:hover {
	background: url(../images/submit_login.gif) no-repeat 0 -29px;
}
::-webkit-scrollbar {
 width: 12px;
}
 
::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
 border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#notvisited-act-top {
	background: #A52A2A;
	color: #fff;
	font-family: 'RobotoBlack';
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	line-height: 14px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
#visited-act-top {
	background: #93b32d;
	color: #fff;
	font-family: 'RobotoBlack';
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	line-height: 14px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
#unverified-act-top {
	background: #6E6E6E;
	color: #fff;
	font-family: 'RobotoBlack';
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	line-height: 14px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
div.icon {
	margin-top: 4px;
	float: left;
	width: 31px;
	height: 30px;
	background-image: url(../images/magnify.gif);
	background-repeat: no-repeat;
	-webkit-transition-property: background-position, color;
	-webkit-transition-duration: .2s, .1s;
	-webkit-transition-timing-function: linear, linear;
	-moz-transition-property: background-position, color;
	-moz-transition-duration: .2s, .1s;
	-ms-transition-duration: .2s, .1s;
	-ms-transition-timing-property: linear, linear;
	-o-transition-property: background-position, color;
	-o-transition-duration: .2s, .1s;
	-o-transition-timing-property: linear, linear;
	transition-property: background-position, color;
	transition-duration: .2s, .1s;
	transition-timing-property: linear, linear;
}
div.icon:hover {
	background-position: 0px -30px;
	cursor: pointer;
}
input#search {
	width: 200px;
	height: 15px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	outline: none;
	border: 1px solid #ababab;
	font-size: 14px;
	line-height: 25px;
	color: #ababab;
}
input#search:hover, input#search:focus {
	color: #3b3b3b;
	border: 1px solid #36a2d2;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}
h4#results-text {
	display: none;
}
ul#results {
	display: none;
	width: 360px;
	margin-top: 4px;
	border: 1px solid #ababab;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
}
ul#results li {
	padding: 8px;
	cursor: pointer;
	border-top: 1px solid #cdcdcd;
	transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out;
}
ul#results li:hover {
	background-color: #F7F7F7;
}
ul#results li:first-child {
	border-top: none;
}
ul#results li h3, ul#results li h4 {
	transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out;
	color: #616161;
	line-height: 1.2em;
}
ul#results li:hover h3, ul#results li:hover h4 {
	color: #3b3b3b;
	font-weight: bold;
}
.editbox_search {
	margin: 0;
	width: 100px;
	height: 20px;
	font-size: 12px;
	line-height: 14px;
	color : #393939;
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.drop_search {
	border: none;
	width: 170px;
	height: 22px;
	font-size: 14px;
	color : #393939;
}
.drop-down {
	background: url(../images/drop_down.jpg) right no-repeat;
	height: 25px;
	padding: 0px 6px 0px 6px;
}
.drop-down-background {
	border: solid 1px #BDBDBD;
	color: #393939;
	width: 190px;
	height: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.drop-down-list {
	background: #E3E3E3;
	border-bottom: solid 1px #BDBDBD;
	border-left: solid 1px #BDBDBD;
	border-right: solid 1px #BDBDBD;
	width: auto;
	height: 100px;
	overflow: auto;
}
.tableRowHeader {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	zoom: 110%;
	background-color: #A9F5BC;
}
.tableRowData {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	zoom: 110%;
}
/**

 * Magento

 *

 * NOTICE OF LICENSE

 *

 * This source file is subject to the Academic Free License (AFL 3.0)

 * that is bundled with this package in the file LICENSE_AFL.txt.

 * It is also available through the world-wide-web at this URL:

 * http://opensource.org/licenses/afl-3.0.php

 * If you did not receive a copy of the license and are unable to

 * obtain it through the world-wide-web, please send an email

 * to license@magentocommerce.com so we can send you a copy immediately.

 *

 * DISCLAIMER

 *

 * Do not edit or add to this file if you wish to upgrade Magento to newer

 * versions in the future. If you wish to customize Magento for your

 * needs please refer to http://www.magentocommerce.com for more information.

 *

 * @category    design

 * @package     default_default

 * @copyright   Copyright (c) 2012 Magento Inc. (http://www.magentocommerce.com)

 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)

 */

/* Data Table */

.data-table {
	width: 100%;
	border: 1px solid #bebcb7;
}
.data-table .odd { /*background:#f8f7f5*/
	background: #000;
}
.data-table .even { /*background:#eeeded; */
	background: #000;
}
/*.data-table tr.odd:hover,

.data-table tr.even:hover { background:#ebf1f6; }*/

.data-table td.last, .data-table th.last {
	border-right: 0;
}
.data-table tr.last th, .data-table tr.last td {
	border-bottom: 0 !important;
}
.data-table th {
	padding: 3px 8px;
	font-weight: bold;
}
.data-table td {
	padding: 3px 8px;
}
.data-table thead th {
	font-weight: bold;
	border-right: 1px solid #c2d3e0;
	padding: 2px 8px;
	color: #0a263c;
	white-space: nowrap;
	vertical-align: middle;
}
.data-table thead th.wrap {
	white-space: normal;
}
.data-table thead th a, .data-table thead th a:hover {
	color: #fff;
}
.data-table thead th {
	background: url(../images/bkg_th.gif) repeat-x 0 100% #d9e5ee;
}
.data-table thead th .tax-flag {
	font-size: 11px;
	white-space: nowrap;
}
.data-table tfoot {
	border-bottom: 1px solid #d9dde3;
}
.data-table tfoot tr.first td {
	background: #FFFFFF;
}
.data-table tfoot tr { /*background-color:#dee5e8 !important; */
}
.data-table tfoot td {
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 0;
	border-right: 1px solid #d9dde3;
}
.data-table tfoot strong {
	font-size: 16px;
}
.data-table tbody th, .data-table tbody td {
	border-bottom: 1px solid #d9dde3;
	border-right: 1px solid #d9dde3;
}
/* Generic Info Box */

.info-box {
	background: #fff url(../images/bkg_block-title.gif) 0 0 repeat-x;
	border: 1px solid #d0cbc1;
	padding: 12px 15px;
	margin: 0 0 15px;
}
.info-box h2 {
	font-weight: bold;
	font-size: 13px;
}
.info-table th {
	font-weight: bold;
	padding: 2px 15px 2px 0;
}
.info-table td {
	padding: 2px 0;
}
/* Shopping cart total summary row expandable to details */

tr.summary-total {
	cursor: pointer;
}
tr.summary-total td {
}
tr.summary-total .summary-collapse {
	float: right;
	text-align: right;
	padding-left: 20px;
	background: url(../images/bkg_collapse.gif) 0 5px no-repeat;
	cursor: pointer;
}
tr.show-details .summary-collapse {
	background-position: 0 -52px;
}
tr.show-details td {
}
tr.summary-details td {
	font-size: 11px;
	background-color: #dae1e4;
	color: #626465;
}
tr.summary-details-first td {
	border-top: 1px solid #d2d8db;
}
tr.summary-details-excluded {
	font-style: italic;
}
/* ======================================================================================= */


/* Add to Cart */

.add-to-cart label {
	float: left;
	margin-right: 5px;
	font-weight: bold;
	color: #666;
}
.add-to-cart .qty {
	float: left;
	margin-right: 5px;
}
.add-to-cart button.button {
	float: left;
}
.add-to-cart .paypal-logo {
	clear: left;
	margin: 0;
	text-align: right;
}
.add-to-cart .paypal-logo .paypal-or {
	clear: both;
	display: block;
	margin: 5px 60px 5px 0;
}
.product-view .add-to-cart .paypal-logo {
	margin: 0;
}
/* Shopping Cart ========================================================================= */

.cart .page-title {
	border-bottom: 0;
	margin: 0 0 12px;
}
.cart .page-title h1 {
	margin: 10px 0 0;
}
/* Shopping Cart Table */

.cart-table th {
	padding: 2px 10px;
}
.cart-table td {
	padding: 10px;
}
.cart-table .product-name {
	font-weight: bold;
	margin: 0 0 5px;
	color: #2f2f2f;
}
.cart-table .item-msg {
	margin: 5px 0;
	font-size: 11px;
	font-weight: bold;
	color: #df280a;
}
.cart-table tfoot td {
	padding: 5px 10px;
}
.cart-table .btn-continue {
	float: left;
}
.cart-table .btn-empty span, .cart-table .btn-continue span, .cart-table .btn-update span {
	border-color: #406a83;
	background: #618499;
}
.cart-table .btn-update, .cart-table .btn-empty {
	float: right;
}
.cart-table .btn-update {
	margin-left: 10px;
}
/* Shopping Cart Collateral boxes */

.cart .cart-collaterals {
	padding: 25px 0 0;
}
.cart .cart-collaterals .col2-set {
	float: left; /*width:605px;*/
	width: 305px;
}
.cart .cart-collaterals .col2-set .col-2 {
	width: 294px;
}
.cart .crosssell {
	border: 1px solid #cec3b6;
	background: #fafaec;
	padding: 12px 15px;
}
.cart .crosssell h2 {
	font-size: 13px;
	font-weight: bold;
}
.cart .crosssell .product-image {
	float: left;
	width: 75px;
	height: 75px;
	border: 1px solid #d0cdc9;
}
.cart .crosssell .product-details {
	margin-left: 90px;
}
.cart .crosssell .product-name {
	font-weight: bold;
}
.cart .crosssell li.item {
	margin: 12px 0;
}
.cart .crosssell .link-compare {
	font-weight: normal;
}
/* Discount Codes & Estimate Shipping and Tax Boxes */

.cart .discount, .cart .shipping {
	border: 1px solid #d0cbc1; /*background:#fff url(../images/bkg_block-title.gif) 0 0 repeat-x;*/
	padding: 12px 15px;
	margin: 0 0 18px;
}
.cart .discount h2, .cart .shipping h2 {
	background-position: 0 0;
	background-repeat: no-repeat;
	font: bold 13px/16px Arial, Helvetica, sans-serif;
	padding: 0 0 0 21px;
	color: #e26703;
	text-transform: uppercase;
}
.cart .discount button span, .cart .shipping button span {
	border-color: #406a83;
	background: #618499;
}
.cart .discount .buttons-set, .cart .shipping .buttons-set {
	margin: 10px 0 0;
	border: 0;
	padding: 0;
	text-align: left;
}
.cart .discount .buttons-set button.button, .cart .shipping .buttons-set button.button {
	float: none;
	margin-left: 0;
}
.cart .discount h2 {
	background-image: url(../images/i_discount.gif);
}
.cart .discount .input-box {
	margin: 8px 0 0;
	width: 260px;
}
.cart .discount input.input-text {
	width: 254px;
}
.cart .shipping h2 {
	background-image: url(../images/i_shipping.gif);
}
.cart .shipping .sp-methods {
	margin: 10px 0 0;
	padding: 5px 0 0;
	background: url(../images/bkg_divider1.gif) 0 0 repeat-x;
}
/* Shopping Cart Totals */

.cart .totals {
	float: right;
	width: 268px; /*background:#dee5e8;*/
	border: 1px solid #bebcb7;
}
.cart .totals table {
	width: 100%;
	margin: 7px 0;
}
.cart .totals td {
	padding: 1px 15px 1px 7px;
}
.cart .totals tr.last td {
}
.cart .totals tfoot th {
	padding: 5px 15px 5px 7px;
}
.cart .totals tfoot td {
	padding-top: 5px;
	padding-bottom: 5px;
}
.cart .totals tfoot th strong, .cart .totals tfoot td strong {
	font-size: 15px;
}
.cart .totals .checkout-types {
	font-size: 13px;
	padding: 8px 15px 15px;
	text-align: right;
	list-style-type: none;
}
.cart .totals .checkout-types li {
	clear: both;
	margin: 10px 0;
}
/* Clears ================================================================================ */

.guest-select {
	width: 305px !important;
}
.data-table input[type="button"].refresh {
	padding: 5px;
	width: 30px;
	height: 29.3px;
	text-align: center;
	border: solid 1px silver;
	background-color: white;
	vertical-align: middle;
	cursor: pointer;
	outline: none;
	background-image: url(images/icons.png);
	background-repeat: no-repeat;
	background-position: 3px -38px;
	border-color: #e8e8e8;
}
.form-controlsel {
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-controlsel:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
/*deepali changes 13june*/

.clear {
	clear: both;
}
.sales_row {
	width: 100%;
	float: left;
}
.sales_col1 {
	width: 15%;
	float: left;
}
.sales_col2 {
	width: 35%;
	float: left;
}
.sales_head {
	float: left;
	padding: 10px 15px;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
	background-color: #6d6969;
	width: 100%;
	margin-bottom: 20px;
}
.sales_textfield {
	font-weight: bold;
	font-size: 12px !important;
	margin-top: 10px;
}
.sales_input {
	padding: 8px 15px;
	margin-bottom: 10px;
	background-color: transparent;
	font-weight: 300;
	border: 1px solid #969590;
	width: 80%;
	border-radius: 3px;
}
 

@media only screen and (max-width: 768px) {
	.sales_col1 {
	width: 15%;
	margin-bottom: 10px;
}
.sales_textfield {
	margin-top:10px;
}
.sales_col2 {
	width: 35%;
}
.sales_head {
	padding: 10px 15px; 
}
.sales_input {
	padding: 8px 15px;
	width: 90%;
}
}

@media only screen and (max-width: 425px) {
.sales_col1 {
	width: 100%;
	margin-bottom: 10px;
}
.sales_textfield {
	margin-top: 0;
}
.sales_col2 {
	width: 100%;
}
.sales_head {
	padding: 10px 15px; 
}
.sales_input {
	padding: 8px 15px; 
}
}

@media only screen and (max-width: 320px) {
.sales_col1 {
	width: 100%;
	margin-bottom: 10px;
}
.sales_textfield {
	margin-top:0;
}
.sales_col2 {
	width: 100%;
}
.sales_head {
	padding: 10px 15px;
}
.sales_input {
	padding: 8px 15px;
	width: 100%;
}
}


/*Description: Add css for survey response
*Created By: pooja@30Jun2017
*/

.tableres tr:nth-child(2n+1){
	background-color: #e3e3e3;
	font-weight: bold;
}
.tableres tr td:nth-child(2n+1){
	color: #328402;
	font-weight: bold;
	border-right:1px solid;
	text-align: center;
}

.tableres{
    border: 0 solid;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.tableres tr td{border-bottom: 1px solid #727272;padding:5px; }