
<div id="pushfromtally"  class="PrintArea" title="Push From Tally">
<table class="table table-bordered">
   <thead>
      <tr>
         <th colspan="3">
            <center>Invoice</center>
         </th>
      </tr>
   </thead>
   <thead>
      <tr>
         <td style=" width:50%;"><b>Eastman</b><br>GGN<br>E-Mail : ajay.vats@quytech.com <br> &nbsp;</td>
         <td style="padding: 0px; border-left: 0px none;  width:50%;">
            <table class="table">
               <tr>
                  <td style="border-top: 0px none; border-left:0px;  width:50%;">Invoice No.<br> <b>4</b></td>
                  <td style="border-top: 0px none; border-right:0px;  width:50%;">Dated <br> <b>30-Jan-2017</b></td>
               </tr>
               <tr>
                  <td style=" border-left:0px;  width:50%;">Delivery Note <br> &nbsp;</td>
                  <td style="border-right:0px;  width:50%;">Mode/Terms of Payment <br> &nbsp;</td>
               </tr>
               <tr>
                  <td style=" border-left:0px;  width:50%;">Supplier's Ref.<br><b>55</b></td>
                  <td style="border-right:0px;"  width:50%;>Other Reference(s) <br> &nbsp;</td>
               </tr>
            </table>
         </td>
      </tr>
      <tr>
         <td >Consignee<br><b>Maninder Saini</b><br>Gurgaon-Delhi Road</td>
        <td style="padding: 0px; border-left: 0px none;">
            <table class="table">
               <tr>
               <tr>
                  <td style="width:50%;">Buyer's Order No.<br> <b>55</b></td>
                  <td style="border-top: 0px none; border-right:0px; width:50%;">Dated <br><b> 30-Jan-2017</b></td>
               </tr>
               <tr>
                  <td style="width:50%;">Despatch Document No. <br> <b>005</b></td>
                  <td style="border-right:0px;  width:50%;">Delivery Note Date <br> &nbsp;</td>
               </tr>
               <tr>
                  <td style="width:50%;">Despatched through  <br> <b>Client</b></td>
                  <td style="border-right:0px;  width:50%;">Destination  <br><b> Delhi</b></td>
               </tr>
            </table>
         </td>
      </tr>
      <tr>
         <td>Buyer (if other than consignee)<br><b>Maninder Saini</b></td>
         <td style="padding: 0px; border-left: 0px none;">
            <table class="table">
               <!-- Third -->
               <tr>
                  <td style="border-top: 0px none; border-left:0px;  width:50%;" >Vessel/Flight No.<br> &nbsp;</td>
                  <td style="border-top: 0px none; border-right:0px;  width:50%;">Place of receipt by shipper <br> &nbsp;</td>
               </tr>
               <tr>
                  <td style="border-right: 0px none;  width:50%;">City/Port of Loading <br> &nbsp;</td>
                  <td style="border-right: 0px none;  width:50%;"> City/Port of Discharge <br> &nbsp;</td>
               </tr>
               <tr>
                  <td colspan="2" style="border-right: 0px none;  width:50%;">Terms of Delivery<br> &nbsp;</td>
               </tr>
               <!-- Third -->
            </table>
         </td>
      </tr>
   </thead>



   <tbody>
      <tr>
         <th style="padding:0rem;  width:50%;" colspan="2">
         <table class="table">
           <tr>
            <td style="border-bottom: 0px none; border-left: 0px none; border-top:0px; width:10%" scope="row">SL No.</td>
            <td style="border:0px; width:30%">Description of Goods</td>
            <td  style="border-top:0px; width:10%" >Quantity</td>
            <td style=" border-top:0px;  width:15%">Rate</td>
             <td style=" border-top:0px; width:5%">per</td>
              <td style=" border-top:0px;  width:10%">Disc %</td>
               <td style=" border-top:0px; border-right:0px;  width:20%">Amount</td>
           </tr>


            <tr>
            <td style="border-bottom: 0px none; border-left: 0px none; width:10%">1</td>
            <td style="border-bottom: 0px none; border-left: 0px none; border-right: 0px none; width:30%"><b>EA35MF GLD R </b><br> <span style="font-size:10px; font-style:italic;">Description</span></td>
              <th  style="border-bottom: 0px none; width:10%">70 nos <br>  <span style="font-size:10px; font-style:italic;"> &nbsp;</span></th>
            <th style="width:15%">17500.00/nos</th>
             <td style="width:5%">&nbsp;</td>
              <td style=" border-top:0px;  width:10%">2.0685 %</td>
               <th style=" border-top:0px; border-right:0px;  width:20%">10,52,800.00</th>
           </tr>


            <tr>
            <td style="border-bottom: 0px none; border-left: 0px none; width:10%">1</td>
            <td style="border-bottom: 0px none; border-left: 0px none; border-right: 0px none; width:30%"><b>EA35MF GLD R </b><br> <span style="font-size:10px; font-style:italic;">Description</span></td>
              <th  style="border-bottom: 0px none; width:10%">70 nos <br>  <span style="font-size:10px; font-style:italic;"> &nbsp;</span></th>
            <th style="width:15%">17500.00/nos</th>
             <td style="width:5%">&nbsp;</td>
              <td style=" border-top:0px;  width:10%">2.0685 %</td>
               <th style=" border-top:0px; border-right:0px;  width:20%">10,52,800.00</th>
           </tr>


            <tr>
            <td style="border-bottom: 0px none; border-left: 0px none; width:10%">1</td>
            <td style="border-bottom: 0px none; border-left: 0px none; border-right: 0px none; width:30%"><b>EA35MF GLD R </b><br> <span style="font-size:10px; font-style:italic;">Description</span></td>
              <th  style="border-bottom: 0px none; width:10%">70 nos <br>  <span style="font-size:10px; font-style:italic;"> &nbsp;</span></th>
            <th style="width:15%">17500.00/nos</th>
             <td style="width:5%">&nbsp;</td>
              <td style=" border-top:0px;  width:10%">2.0685 %</td>
               <th style=" border-top:0px; border-right:0px;  width:20%">10,52,800.00</th>
           </tr>

             <tr>
          <td align="right" style="width:40%; border-bottom:0px;"  colspan="2">Total</td>
          <th style="border-bottom: 0px none; width:10%">196 nos</th>
          <th style="border-bottom: 0px none; width:15%">18000.00</th>
          <th style=" border-top:0px; border-right:0px; border-bottom:0px; width:5%">&nbsp;</th>
          <th style=" border-top:0px; border-right:0px; border-bottom:0px;  width:10%">&nbsp;</th>
          <th style=" border-top:0px; border-right:0px; border-bottom:0px;  width:20%">3,48,800.00</th>
        </tr>

         </table>
         </th>
      </tr>




      <tr>
        
      <td style="border: 0px none;">Amount Chargeable (in words)</td>
      <td align="right" style="border: 0px none;">E. & O.E.</td>

      </tr>


      <tr>
      
      <th style="border: 0px none;">INR Thirty Two Lakh Forty Eight Thounsand Eight  Hundred Only</th>

      </tr>


      <tr>
      
      <td colspan="2" style="border: 0px none;">Buyer's VAT TIN : <b>099</b></td>

      </tr>


      <tr>
      
      <td style="border: 0px none;"><u>Declaration</u><br> <span style="font-weight:normal;">We declare that this invoice shows the acutal price of the goods described and that all particulars are true and correct.</span></td>
      <th style="padding: 0px;">
      <table class="table"><tr valign="top"><td  align="right" style="border: 0px none;"><b>for Eastman</b></td></tr><tr> <td align="right" style="border:0px; ">Authorised Signatory</td></tr></table>
      
      </th>

      </tr>

   </tbody>
</table>
</div>


<script>
function myFunction() {
    window.print();
}
</script>


<style type="text/css">
  
.table-bordered td, .table-bordered th {
    border: 1px solid #000;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #000;
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 0px;
}

.table-bordered td, .table-bordered th {
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0rem;
    font-size: 12px;
}

/*.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #ECEEEF;
}*/

.table-bordered {
    border: 1px solid #000;
}


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.table tbody + tbody {
  border-top: 2px solid #eceeef;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

.table-inverse {
  color: #fff;
  background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #fff;
}

.table-inverse.table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
  border: 0;
}

</style>


<script type="text/javascript"  language="javascript" src="javascripts/jquery.printarea.js"></script>


